*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
  }
  body{
    
  }

  .header-div{
    display: flex;
    justify-content: space-around;
   padding: 30px 0;
  }
  .header-div .logo{
    font-size: 30px;
    color: black;
  }
  ul {
    display: flex;
    font-size: 20px;
    transition: all .42s;
  }
  #navbar li{
    margin-right: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  ul li a {
   margin-left: 20px;
   color: black;
  }
  ul li a:hover{
  color: blue;
  }
  .icons{
    font-size: 30px;
  }
  .icons a{
    color: black;
    margin-right: 10px;
    transition: all .42s;
  }
  .icons a:hover{
    color: blue;
  }
  #bar{
    display: none;
  }
  .main-section{
    display: flex;
  }
.main-section-text{
width: 50%;
padding: 8rem 10%;
}
.main-section-text h2{
font-size: 40px;
}
.main-section-text p{
  font-style: italic;
  margin-top: 30px;
}
.main-section-btn{
  font-size: 18px;
  margin: 30px 0;
  padding: 10px;
  background-color: rgb(231, 59, 59);
  border: none;
  color: #fff;
  border-radius: 8px;
  transition: .4s ease;
}
.main-section-btn:hover{
  background: blue;
}
.main-camera{
  width: 50%;
}
.main-img{
  margin-left: 10%;
  margin-top: 40px;
  border-radius: 50%;
  background-color: #f6f6f6;
  height: 400px;
  width: 400px;
}
.populer-sites{
  border: 1px solid rgba(202, 194, 194, 0.534);
  border-left: none;
  border-right: none;
  width: 90%;
  margin: 0 auto;
}

.online-sites .site-icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.site-icons a{
  padding: 30px 20px;
}
.populer-sites img{
  margin-right: 40px;
}
.products{
  background-color: #f3f4f6;
  margin-top: 50px;
}
.product-container{
  display: grid;
   /*grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(280px, auto)); 
  gap: 3rem;
  padding: 10px 8%;

}
.collections{
  margin: 10px auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  transition: all .40s;
  padding: 10px;
}
.collections:hover{
  transform: scale(0.9);
}
.collection-img{
 
  width: 30%;
  text-align: center;
}
h3{
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  padding: 30px 0 0 0;
}
.ratting{
  color: #ff00ff;
}
.collections .info{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: rgba(61, 54, 54, 0.91);
}
.collections .rate{
  color: #241d1d;
  margin-left: 10px;
}
.more{
  margin-left: 90%;
  margin-top: 30px;
}
.last-section{
  display: flex;
  margin-top: 12vh;
  margin-bottom: 2rem;
}
.last-img{
  width: 40%;
  text-align: center;
}
.last-section-text{
  width: 60%;
  padding: 20px 5%;
}
.last-section-text h5{
  font-size: 35px; 
  padding: 30px 0;
}
.last-section-text p{
  font-style: italic;
}
.last-section-text .last-btn{
  padding: 10px 20px;
  background: rgb(253, 23, 199);
  border: none;
  color: #fff;
  margin: 20px 0;
  border-radius: 8px;
}
.last-section-text .last-btn:hover{
background-color: blue;
}
.footer-sec{
  text-align: center;
  color: #fff;
  padding: 30px;
  line-height: 1.5;
}
footer{
  background: #000000;
}
.footer-icons{
  margin-top: 10px;
  margin-right: 20px;
}
.footer-icons i{
font-size: 25px;
}
.footer-icons i:hover{
  color: blue;
  transition: all .42s;
}